// LAYOUT
$containerWidth: 960px;
$gutterWidth: 60px;
$innerPadding: 40px;

// COLOR - BASE PALETTE
$grey: #32373f;
$grey-dark: #2c3037;
$grey-light: #4d5760;
$green: #5bbc61;

// COLOR - TEXT
$text-color: #fff;

// OVERRIDES
$fa-font-path: 'fonts/FontAwesome';